<div>
  <h1>Project Manager </h1>
  </div>
  
<nav id ="nav"class="navbar navbar-light bg-faded" >
    <table  class="table table-hover">
        <thead> 
            <tr>
                <th>
      <div id ="nav1" class="nav-item active">
          <a  class="nav-link"  routerLinkActive="active" routerLink="/addproject"><h3>Add Project</h3></a>
      </div>
    </th>
    <th>
    <div id ="nav2" class="nav-item active">
      <a class="nav-link"  routerLinkActive="active" routerLink="/addtask"><h3>Add Task</h3></a>
    </div>
  </th>
  <th>
    <div id ="nav3" class="nav-item active">
      <a  class="nav-link"  routerLinkActive="active" routerLink="/adduser"><h3>Add User</h3></a>
  </div>
</th>
<th>
<div id ="nav4" class="nav-item active">
  <a class="nav-link"  routerLinkActive="active" routerLink="/viewtask"><h3>View Task</h3></a>
</div>
  </th>
<tr>
</thead>
</table>
</nav>



