table {
    width: 100%;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  input {
    width: 300px;    
  }
  div.adduser
  {
      display: block;
      text-align: center;
      
  }

  form
  {
      display: inline-block;
      margin-left: auto;
      margin-right: auto;
      text-align: left;
  }